@*@model IEnumerable<denghikiemtra.Models.tbl_DeNghiKiemTraOnline> *@

@model PagedList.IPagedList<denghikiemtra.Models.tbl_DeNghiKiemTraOnline>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>THÔNG TIN KHÁCH HÀNG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm(@*"Index", "khachhangfind", FormMethod.Get*@))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@*https://youngdragontrieu.wordpress.com/2016/06/02/tao-search-box-don-gian-trong-aps-net-mvc/*@
   
 
    



    <div class="find-input">
           
        <label class="find"> Tên:</label>
        <input type="text" class="input" name="ten" />
            
        @*find status*@
            
        <label class="find"> Trạng thái:</label>
        <input type="text" class="input" name="status" />
           

        @*find ngày đăng ký *@

        <label class="find"> Ngày đăng ký :</label>
        <input type="text" class="input" name="NgayDK" />



        @*Find Phòng*@

        <label class="find">Phường: </label>
        <input type="text" class="input" name="Sub-district" />



        @*Find quận*@

        <label class="find">Quận: </label>
        <input type="text" class="input" name="district" />


        @*Find địa chỉ*@

        <label class="find">Địa chỉ: </label>
        <input type="text" class="input" name="address" />

    </div>

    <table class="table">
        <tr>
            @* modelItem thì item. các trường có trong sql  *@
         
            <th>
                @Html.ActionLink("STT", "Index", new { sortOrder = ViewBag.STTSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

            <th>
                @Html.ActionLink("Ten", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

                @*@Html.DisplayNameFor(model => model.Ten)*@
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>*@

            <th>
                @*@Html.ActionLink("Phuong", "Index", new { sortOrder = ViewBag.PhuongSortParm, currentFilter = ViewBag.CurrentFilter })*@

                @*@Html.DisplayNameFor(model => model.Phuong)*@
            </th>

            @*làm phân trang*@

            @*<th>
                @Html.DisplayNameFor(model => model.Quan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>*@

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @* modelItem thì item. các trường có trong sql  *@
                <td>
                    @Html.DisplayFor(modelItem => item.STT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @* dùng để tăng biến đếm STT*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.STT }) |
                    @Html.ActionLink("Details", "Details", new { id = item.STT }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.STT })
                </td>
            </tr>
        }

    </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
